# Dependencies
node_modules
.pnpm-store

# Build
.next
out
dist
build
.turbo

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Supabase
supabase/.branches
supabase/.temp
